<!DOCTYPE html>
<html>

<head>
    <title>Simple Group Chat on Node.js</title>

    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body class="body">

    <ul class="messages" id="messages">
        <div class="typing" id="typing"></div>

    </ul>
    <form action="/" method="POST" id="chatForm">
        <input class="input-messages" id="txt" autocomplete="off" autofocus="on"
            placeholder="type your message here..." /><button class="chat-button">Send</button>
    </form>
    <button id="manager-btn">Speak with manager</button>
    <button id="manager-connect">I am Manager</button>
    <button id="leave-chat">Leave Chat</button>

    
    <script src="./chat.js"></script>



</body>

</html>