<!DOCTYPE html>
<html>

<head>
    <title>Simple Group Chat on Node.js</title>

    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body class="body">

    <ul class="messages" id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
        <input class="input-messages" id="txt" autocomplete="off" autofocus="on"
            placeholder="type your message here..." /><button class="chat-button">Send</button>
    </form>
    <script>

        // submit text message without reload/refresh the page
        let socket = io.connect('http://localhost:3000');

        // prompt to ask for the users username


        //test the connection

        socket.on("connect", function (data) {
            console.log("connected" + data)
            socket.emit('change_username', "Connected")
        })

        socket.on("Greeting", function (data) {
            console.log(data)

        })
        // submit text message without reload/refresh the page

        $('form').submit(function (e) {

            // prevents page reloading
            e.preventDefault();

            //send the chat message to the backend
            socket.emit('chat_message', $('#txt').val());
            $('#txt').val('');
            return false;
        });

        // append the chat text message
        socket.on('new-message', function (data) {
            let chatbubble = $('<p>')
            chatbubble.addClass("chat-bubble")
            $('#messages').prepend(chatbubble.html(data));
        });

        let username = prompt('Please tell me your name');
        socket.emit('username', username);



    </script>
</body>

</html>