.body {
background-color: black;

}



.messages {

    margin-top: 20px;
    overflow: auto;
    flex-basis: 71%;
    margin: 10px;
    margin-bottom: 0;
    height: 500px;
    width: 33%;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: nowrap;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    background-color:lightseagreen;
    border-radius: 25px;

}

.input-messages {

margin-top: 10px;
margin-left: 10px;

}

.chat-bubble {
background-color: lime;
padding: 10px;
font-size: medium;
border-radius: 25px;



}

.input-messages {
width: 28% ;
border-radius: 25px;
}

.chat-button {
width: 5%;
margin-left: 15px;
border-radius: 25px;


}